
$padding-start: 5%;
$padding-h1: 2%;
$padding-art: 3%;
$padding-button: 1%;

$font-title: Arial, Helvetica, sans-serif;
$font-text: Verdana, Geneva, Tahoma, sans-serif;

$primary: #0d47a1;
$primary-light: #5472d3;
$primary-dark: #002171;
$secondary: #f1eff1;
$secondary-dark: #c0b3c2;

$black: #1b1c1e;
$grey: #303030;
$white: #fefefe;

